*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: 15px;
}

.grid {
  display: block;
  font-size: 0;
  text-align: justify;
  margin: 0 auto;
  border-spacing: 10px;
}
.grid:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.grid > * {
  display: inline-block;
  width: 100%;
  font-size: medium;
  vertical-align: top;
  text-align: left;
}

@media (min-width: 800px){
  .grid-3-800 > * { width: 30%; }
}

img {
  max-width: 100%;
}