<div class="col-xs-5">
                    <div class="box container">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- item cart box -->
                                <div class="box-first container">
                                    <div class="row">
                                    {title}
                                    {price}
                                    {currency_code}
                                    {quantity}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- options below cart -->
                                <div class="box-first container">
                                    <div class="row"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>