<div class="wrap">
        <section class="page-section">
            <!-- second row -->
            <div class="col-xs-12">
                <div class="box-container">
                    <div class="row around-xs">
                        <!-- Squeeze box -->
                        <div class="col-xs-.5">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <!-- profile_img -->
                        <div class="col-xs-1">
                            <div class="box container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box-first container">{user_id}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Company Name / Fav Shop -->
                        <div class="col-xs-2">
                            <div class="box container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box-first container"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box-first container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Squeezebox -->
                        <div class="col-xs-4">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <!-- item-image_showcase -->
                        <div class="col-xs-4">
                            <div class="box container">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="box-first container"></div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="box-first container"></div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="box-first container"></div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="box-first container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Squeeze box-->
                        <div class="col-xs-.5">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>